.title {
  text-align: center;
  position: relative;
  color: red;

}
.info {
  text-align: center;
  position: relative;
  color: blue;

}
.row {
  width: 614px;
  height: 614px;
  margin: 0 auto;
  position: relative;
  background-color: green;

}
.box {
  height: 200px;
  width: 200px;
  border: 1px solid white;
  background-color: white;
  display: inline-block;
}
/*#one{
  background-color: red;

}*/

.clickX {
background-image: url('/img/Cross.png');
background-size: cover;
}
.clickO {
  background-image: url('/img/O.png');
  background-size: cover;

}
